---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Angular from "./icons/Angular.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import AstroLogo from "./icons/AstroLogo.astro"


const TAGS = {
  Angular: {
    name: "Angular",
    class: "bg-black text-white",
    icon: Angular,
  },
  Astro: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: AstroLogo,
  },
  React: {
    name: "React.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}


const PROJECTS = [
  {
    title: "Periodico para Clase de inglés",
    description:
      "Periodico realizado para la clase de inglés como proyecto cuatrimestral",
    link: "https://new-paper-upsrj-git-main-kirbymondragons-projects.vercel.app/",
    github: "https://github.com/KirbyMondragon/NewPaperUPSRJ.git",
    image: "/NewPaper.png",
    tags: [TAGS.TAILWIND, TAGS.Astro],
  },
  {
    title: "Desarrollo de Api Rest(NEST)",
    description:
      "Ejemplo de Api Rest Elaborada con el FrameWork Nest, sobre marcas y autos, elaborada con documentacion de NEST Oficial",
    github: "https://github.com/KirbyMondragon/NestFirstSteps.git",
    image: "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fkinsta.com%2Fwp-content%2Fuploads%2F2022%2F06%2Fnest-js-logo-1200x900.png&f=1&nofb=1&ipt=fcb15e4bb855a64909f4c99bacfa7387060b7c18332549e56e210b6d13c5b982&ipo=images",
    tags: [TAGS.TAILWIND, TAGS.Astro],
  },
  {
    title: "Cecyteq No. 06 Corregidora",
    description:
      "Desarrollo de agente conversacional para la distribucion de informacion dentro del plantel Cecyteq No. 06 Corregidora, este es un proyecto en colaboracion y de manera OPENSOURCE",
    github: "https://github.com/KirbyMondragon/CecyteqCorregidora.git",
    image: "https://images.pexels.com/photos/11961773/pexels-photo-11961773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
    tags: [ ]
  },
  {
    title: "CRUD Para administracion de personal medico",
    description:
      "Desarrollo de CRUD Para administracion de personal medico para la clase de mantenimiento del Software, el cual desarrolla la interfaz grafica con React y el backend con Express",
    github: "https://github.com/KirbyMondragon/MantenimientoCRUD.git",
    image: "https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2",
    tags: [TAGS.TAILWIND, TAGS.React],
  },

]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



